<h2>Add Comment</h2>
<br>
<form method="post" action="/comments">
  <div class="form-inline">
    <caption><b>Select Course:</b></caption>
    <select class="form-control" name="crn" id="crn" required>
      <option value=""></option>
      {{#courses}}
        <option value="{{crn}}">{{code}} - {{name}}</option>
      {{/courses}}
    </select>
  </div>
  <div class="form-group">
    <label class="control-label">Title:</label>
    <input name="title" value="" type="text" class="form-control" id="title" required>
  </div>
  <div class="form-group">
    <label class="control-label">Body:</label>
    <textarea name="body" value="" class="form-control" id="body" required></textarea>
  </div>
  <input type="hidden" id="createdBy" name="createdBy" value={{user.username}}>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
