<br><br>

<div class="jumbotron">
  <h1>Welcome to RIFQ WebApp</h1>
  <p>
    The aim of RIFR is to ensure that students are well informed about the workload associated with their courses so that they can better manage their time.
    Additionally, RAFIQ helps avoid overloading students with too many deliverables particularly the ones that are due at the same time.
    RIFQ is intended to boost students’ performance and success, improve progression, and raise graduation rates.
    RIFQ requires instructors to enter the graded tasks (e.g., quizzes, assignments, projects, exams) associated with the courses they teach during a semester.
    Then the Program Coordinator and/or students can post comments to report issues or to request workload changes for the instructor’s consideration.
  </p>
</div>
