<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        input:invalid {
            border: 1px solid red;
        }

        input:valid {
            border: 1px solid green;
        }
    </style>
</head>
<body>
<h1>Welcome to Client-Server WebApp Example!!!</h1>
    <form method="post" action="/">
        <label for="username">Who are you?</label>
        <input type="text" name="username" id="username" required>
        <br><br>
        <label for="requestedPage">What do you want?</label>
        <select id="requestedPage" name="requestedPage" required>
            <option value=""></option>
            <option value="student">Student</option>
            <option value="hero">Hero</option>
        </select>
        <br><br>
        <button id="submitBtn" type="submit">Submit</button>
    </form>
</body>
</html>